aws_region = "us-east-1"

project_name = "oficina"

db_identifier = "oficina-db"
db_name       = "oficina"
db_username   = "oficina_user"
db_password   = "Oficina12345!"

db_instance_class = "db.t3.micro"
